body{
  margin:0px;
  padding:0px;
}


.nav-ul li{
  display:inline-block;
  flex-direction: row;
  padding-top:6px;
  padding-bottom:6px;
  padding-right:10px;

}

.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: rgb(97, 97, 109);
  width: 100%;
 
  
}

.each-route-top-heading{
  color:black;
  font-size:30px;
  font-weight:700;
}
.set-background-color{
  background-color: rgb(97, 97, 109);
}

.icon-size{
  width: 100px;
  height: 45px;
  float: left;
  padding-top: 4px;
  padding-right:5px;
  padding-left: 10px;
}

.towards-right{
 text-align: right;
}


.footer-div{
  position: absolute;
  bottom: 0px;
  color: white;
  text-align: center;
  font-size:15px;
  font-weight:400;
  width: 100%;
  background-color: rgb(96, 187, 223);
}

.search-input{
  padding-left: 15px;
    border-radius: 5px;
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 2px solid skyblue;
}

.nav-ul li a{
  padding: 5px;

  color:white;
  margin: 0px;
  text-decoration: none;
}

.inputBox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue
}

.register,.entry{
  margin-left:30%;
  padding-top:70px;
}

.entries-list{
  text-align: center;
  padding-top:70px;

}

.entries-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding:5px;
  width:150px;
}

.entries-list ul{
  margin: 0px;;
}

.login{
  margin-left:30%;
  padding-top:70px;
}

.scroll-list{
  max-height: 100%; 
  overflow-y: auto;
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.unordered-list{
  list-style-type:disc;
  
  height:100%;
}

.span-element-style{
  color:rgb(15, 15, 210);
  font-size:20px;
}


#each-card-item{
  width:330px;
  border-radius:5px;
  padding:3px;
  margin:20px;
  background-color: rgb(227, 230, 233);
}

#each-card-item img{
  height:200px;
  width:100%;
}

#update-button{
  background-color: rgb(71, 220, 71);
  margin-left:20px;
  text-decoration:none !important;
}

#content-container{
  text-align: left;
  padding:5px;
  min-height:650px;
  margin-bottom:20px;
}

#content-container p{
  color: #323f4b;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 600;
  margin-top: 24px;
}

.buttons-container{
  margin-bottom:20px;
}

.loader-container{
  padding-top:150px;
  
}

.invalid-text {
  COLOR: red;
  MARGIN-LEFT: 25px;
  margin-top: -22px;
  display: block;
}

.home-image {
  width: 740px;
  height: 500px;
  margin-top: 10px;
  border-radius: 15px;
}

.top-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 700;
}

#custom-button {
  margin-top:50px;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: "Sans Serif";
  padding: 15px;
  font-size: 25px;
}

.top-section-heading-container {
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 0px;
}

.smily-image{
  height:60px;
  width:60px;
}

.not-found-container{
  display: flex;
  padding-top:50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Extra small devices (phones, 576px and down) */
@media all and (max-width: 576px) {
  .top-section-heading{
    font-size: 25px;
  }
  #custom-button{
    font-size:10px;
    margin-top:0px;
    height:40px;
    width:140px;
    padding:10px;
  }
  .top-section-heading-container{
    width:100%;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
  }
  .smily-image{
    height:30px;
    width:30px;
  }
  .not-found-image{
    height:160px;
    width:150px;
  }
  .inputBox{
    display: block;
    margin-left:0px;
    padding: 7px;
    width: 200px;
    border: 1px solid skyblue
}
.login{
  margin-left:10%;
  padding-top:70px;
}

.register{
  margin-left:10%;
  padding-top:70px;
}

.entry{
  margin-left:10%;
  padding-top:70px;
}

  
}

/* Small devices (landscape phones, 576px and up) */
@media all and (min-width: 576px) {
  .top-section-heading{
    font-size: 30px;
  }
  #custom-button{
    font-size:16px;
    margin-top: 0px;
  }
  .top-section-heading-container{
    width:100%;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:0px;
  }
  .smily-image{
    height:30px;
    width:30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  .top-section-heading{
    font-size: 25px;
  }
  #custom-button{
    font-size:16px;
    width:180px;
    height:40px;
    padding:10px;
    margin-top:5px;
  }
  .top-section-heading-container{
    width:100%;
    padding-top:80px;
    height:300px;
    padding-left:10px;
  }
  .smily-image{
    height:30px;
    width:30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) {
  .top-section-heading{
    font-size: 40px;
  }
  #custom-button{
    font-size:16px;
    width:250px;
    height:50px;
    margin-top:0px;
  }
  .top-section-heading-container{
    width:100%;
    padding-top: 80px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  .top-section-heading{
    font-size: 45px;
  }
  #custom-button{
    font-size:25px;
    height:60px;
    width:320px;
  }
  .top-section-heading-container{
    width:100%;
    padding-left:10px;
  }
  .not-found-image{
    height:400px;
    width:350px;
  }
}


.entire-container{
  padding-top:70px;
}


.navbar-container{
  position: fixed;
  z-index: 1000;
  width:100%;
  margin-top:0px;

}

.bg-container{
  padding:0px;
  margin:0px;
  border:1px solid green;
  background-color: rgb(210, 185, 189);
  min-height:100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
